{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}


{% block body %}
    {{ super() }}
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-danger"
                         role="alert">{{ messages[0] }}
                    </div>
                {% endif %}
            {% endwith %}

            <form method="post">
                {{ form.csrf_token }}
                {% for field in ['email', 'password'] %}
                    {{ render_field(form[field]) }}
                {% endfor %}

                {{ form.submit(class="btn btn-primary mb-3") }}

            </form>
        </div>
    </div>
{% endblock %}
